<div class='container'>
  <% if (flash && flash.err) { %>
  <br/>
  <div class="alert alert-danger">					
    <% Object.keys(flash.err).forEach(function(error) { %>
    <%= error %>: <%= flash.err[error].name %> - <%= JSON.stringify(flash.err[error].message) %>
    <% }) %>
  </div>
  <% } %>
  <h3>用户登录</h3>
  <hr/>
  <form role='form' action="/session/create" method="POST" class="form-horizontal" id="haha-form-signin">
    <div class='form-group'>
      <label class='control-label col-md-2' for="user_name">用户名</label>
      <div class="col-md-4">
        <input type='text' class='form-control' name='user_name'></input>
      </div>
    </div>
    <div class='form-group'>
      <label class='control-label col-md-2' for="password">密码</label>
      <div class="col-md-4">
        <input type='password' class='form-control' name='password' id="password"></input>
      </div>
    </div>
    <div class='form-group'>
      <label class='control-label col-md-2' for="captcha">验证码</label>
      <div class="col-md-3 haha-rcompact-col">
        <input type='text' class='form-control' name='captcha'></input>
      </div>
      <div class="col-md-1">
        <img src="<%= session.Captcha.uri %>" class="preview img-responsive haha-form-control-img refreshable-captcha" alt="Responsive image">
      </div>
    </div>
    <br/>
    <div class='row'>
      <div class="col-md-2 col-md-offset-2">
        <button type="submit" class="btn btn-primary btn-block haha-btn-toggle">登录</button>
      </div>
    </div>
    <input class='hidden' name='_csrf' value='<%= _csrf %>' />
  </form>
</div>
