<%
	var categories = [
		{ name: "home", title: "主页", subcats: null },
		{
			name: "accountcenter",
			title: "账户中心",
			subcats: [
				{ name: "accountinfo", title: "账户信息", subcats: null },
				{ name: "accountbalance", title: "账户余额", subcats: null },
				{ name: "accountsecurity", title: "账户安全", subcats: null },
				{ name: "bankinfo", title: "银行账户", subcats: null },
			]
		},
		{
			name: "transcenter",
			title: "交易中心",
			subcats: [
				{ name: "transhist", title: "交易记录", subcats: null },
				{ name: "stat1", title: "统计信息1", subcats: null },
				{ name: "stat2", title: "统计信息2", subcats: null },
			]
		},
		{
			name: "helpcenter",
			title: "帮助中心",
			subcats: [
				{ name: "onlinehelp", title: "在线帮助", subcats: null },
				{ name: "message", title: "留言帮助", subcats: null },
				{ name: "help1", title: "帮助1", subcats: null },
			]
		},
	];
%>
<div class="hidden-print affix-top haha-sidebar" role="complementary" style="">
  <ul class="nav">
		<% for (var i = 0; i < categories.length; ++i) { %>
		<%   var c = categories[i]; %>
			<li class="<%= c.subcats ? (_.contains(c.subcats.map(function(x) { return x.name; }), subpage) ? "active" : "") : (subpage == c.name ? "active" : "") %>">
				<!--<a href="<%= c.subcats ? "/user/show/" + user.id + "?subpage=" + c.subcats[0].name : "/user/show/" + user.id + "?subpage=" + c.name %>"><%= c.title %> <span class="<%= c.subcats ? "caret pull-right" : "" %>" style="margin-top:8px;"></span></a> -->
				<a href="<%= c.subcats ? "/user/show/" + user.id + "?subpage=" + c.subcats[0].name : "/user/show/" + user.id + "?subpage=" + c.name %>"><%= c.title %> <span class="<%= c.subcats ? "caret pull-right" : "" %>" style="margin-top:8px;"></span></a>
				<% if (c.subcats) { %>
					<ul class="nav">
					<% for (var j = 0; j < c.subcats.length; ++j) { %>
					<%   var subc = c.subcats[j]; %>	
						<li class="<%= subpage == subc.name ? 'active' : '' %>">
							<a href="/user/show/<%= user.id %>?subpage=<%= subc.name%>"><%= subc.title %></a>
						</li>
					<% } %>
					</ul>
				<% } %>
			</li>
		<% } %>
  </ul>
</div>
