<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" data-target="#more-info" href="#more-info">
        担保信息
      </a>
    </h4>
  </div>
  <div id="more-info" class="panel-collapse collapse in">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class='form-group'>
            <label class='control-label' for="guarantee_company"><%= display_name["guarantee_company"] %></label>
						<% if (product) { %>
							<input type='text' class='form-control' name='guarantee_company' placeholder="<%= product.guarantee_company %>"></input>
						<% } else { %>
							<input type='text' class='form-control' name='guarantee_company'></input>
						<% } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class='form-group'>
            <label class='control-label' for="guarantee_letter_code"><%= display_name["guarantee_letter_code"] %></label>
						<% if (product) { %>
							<input type='text' class='form-control' name='guarantee_letter_code' placeholder="<%= product.guarantee_letter_code %>"></input>
						<% } else { %>
							<input type='text' class='form-control' name='guarantee_letter_code'></input>
						<% } %>
          </div>
        </div>
      </div>
      <div class='form-group fileinput fileinput-new' data-provides="fileinput">
        <label class='control-label' for="guarantee_letter_scan"><%= display_name["guarantee_letter_scan"] %></label>
        <div class="fileinput fileinput-new" data-provides="fileinput">
          <div class="input-group">
            <div class="form-control uneditable-input span3" data-trigger="fileinput"><i class="glyphicon glyphicon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
            <span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new">选择文件</span><span class="fileinput-exists">修改</span><input type="file" name="guarantee_letter_scan"/></span>
            <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">删除</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
