<!DOCTYPE html>
<html>
  <head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-select.css">
    <link rel="stylesheet" href="/linker/styles/bootstrap-datetimepicker.css">
    <link rel="stylesheet" href="/linker/styles/jasny-bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <!--STYLES END-->
    <script type="text/javascript">
      window.overlord = { 
        csrf: "<%= _csrf %>",
        sessionAdmin: <%= session.User ? session.User.admin : false %>
      };
    </script>
  </head>

  <body>
    <nav class='navbar navbar-default navbar-fixed-top haha-nav' role='navigation'>
      <div class='container'>
        <div class="navbar-header">
          <button type='button' class="navbar-toggle" data-toggle='collapse' data-target='.navbar-collapse'>
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class='haha-logo-container'>
            <a href="/">
              <img class="haha-nav-logo-img" src='/images/logo.svg' />
            </a>
          </div>
        </div>
        <div class="navbar-collapse collapse haha-nav-container">
          <ul class="nav navbar-nav haha-navbar-nav-vpad-ext">
						<li><a href="/product/"><span class="glyphicon glyphicon-list"></span> &nbsp;产品列表</a></li>
            <% if (session.User && session.User.admin) { %>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-tower"></span> &nbsp;管理 <b class="caret"></b></a>
                <ul class="dropdown-menu">
									<li><a href="/product/admin">产品管理</a></li>
									<li><a href="/user">用户管理</a></li>
									<li><a href="/platform/admin">平台管理</a></li>
                </ul>
              </li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <ul class="nav navbar-nav haha-navbar-nav-vpad-ext">
							<% if (session.authenticated) { %>
              <li>
                <a href="/user/show/<%= session.User.id %>">
                  <span class="glyphicon glyphicon-user"></span> &nbsp;<%= session.User.user_name %> ( <%= session.User.name %> )
                </a>
              </li>
              <li>
								<a href="/session/destroy">
									<span class="glyphicon glyphicon-log-out"></span> 退出
								</a>
							</li>
						  <% } else { %>
							<li><a href="/session/new"><span class="glyphicon glyphicon-log-in"></span> &nbsp;登录</a></li>
							<li><a href="/user/new"><span class="glyphicon glyphicon-plus"></span> &nbsp;注册</a></li>
							<% } %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <% if (typeof curr_action !== "undefined" && typeof model !== "undefined" && typeof title !== "undefined") { %>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <div class="haha-sidebar hidden-print affix-top" role="complementary" style="">
            <ul class="nav haha-sidenav">
            </ul>
            <ul class="nav haha-sidenav">
              <% var active_new = (curr_action == "new" ? "active" : ""); %>
              <% var active_index = (curr_action == "index" ? "active" : ""); %>
              <li class="<%= active_index %>"><a href="/<%= model %>/">所有<%= title %></a></li>
              <li class="<%= active_new %>"><a href="/<%= model %>/new">新建<%= title %></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-10">
          <%- body %>
        </div>
      </div>
    </div>
    <% } else { %>
    <%- body %>
    <% } %>
    <%- partial("footer") %>



    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.validate.min.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/bootstrap-select.js"></script>
    <script src="/linker/js/jasny-bootstrap.js"></script>
    <script src="/linker/js/bootstrap-datetimepicker.js"></script>
    <script src="/linker/js/common.js"></script>
    <script src="/linker/js/custom.validate.js"></script>
    <script src="/linker/js/moment-with-langs.min.js"></script>
    <script src="/linker/js/underscore.js"></script>
    <script src="/linker/js/user.show.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
