<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title"><span class="glyphicon glyphicon-credit-card"> 账户余额</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <h1 class='haha-no-vmargin'><small>&yen;</small> <%= commait.commaIt(session.User.balance, { thousandSeperator: ',' }) %> <small>元</small></h1>
      </div>
      <div class="col-md-1 col-md-offset-3 haha-compact-col haha-add-tmargin-xs">
        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#recharge-modal"><span class="glyphicon glyphicon-save"></span> &nbsp;充值</button>
				<%- partial("../modals/recharge") %>
      </div>
      <div class="col-md-1 haha-compact-col haha-add-tmargin-xs">
        <button class="btn btn-primary btn-block" data-toggle="modal" data-target="#withdraw-modal"><span class="glyphicon glyphicon-open"></span> &nbsp;提现</button>
				<%- partial("../modals/withdraw") %>
      </div>
      <div class="col-md-1 haha-compact-col haha-add-tmargin-xs">
        <button class="btn btn-primary btn-block"><span class="glyphicon glyphicon-transfer"></span> &nbsp;转账</button>
      </div>
    </div>
  </div>
</div>
<%- partial("../security_tasks.ejs") %>
<% pagination = false; %>
<%- partial("transhist.ejs", { limit: 10, pagination: pagination, user: user, subpage: subpage, display_name: display_name, trans_disp_name: trans_disp_name, cities: cities, commait: commait, moment: moment, products: products, transpage: transpage, transpage_max: transpage_max, transcount: transcount }) %>
