<div class='container'>
  <br/>
	<form role='form' action="/user/create" method="POST" class="form-horizontal" id="haha-form-signup">
		<div class="panel panel-default haha-signup-panel">
			<div class="panel-heading">
				<h4>创建账户</h4>
			</div>
			<div class="panel-body">
				<% if (flash && flash.err) { %>
				<div class="alert alert-danger">					
					<% Object.keys(flash.err).forEach(function(error) { %>
						<%= error %>: <%= JSON.stringify(flash.err[error]) %>
					<% }) %>
				</div>
				<% } %>
        <br/>
				<div class='form-group'>
					<label class='control-label col-md-2' for="user_name"><%= display_name["user_name"] %></label>
          <div class="col-md-6">
            <input type='text' class='form-control' name='user_name' data-toggle="tooltip" data-placement="right" title="用户名为6-20位字母或数字字母下划线组合"></input>
          </div>
				</div>
        <div class='form-group'>
          <label class='control-label col-md-2' for="name"><%= display_name["name"] %></label>
          <div class="col-md-6">
            <input type='text' class='form-control' name='name' data-toggle="tooltip" data-placement="right" title="你的真实姓名"></input>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-2' for="id_card"><%= display_name["id_card"] %></label>
          <div class="col-md-6">
            <input type='text' class='form-control' name='id_card' data-toggle="tooltip" data-placement="right" title="你的15位或者18位身份证号码"></input>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-2' for="email"><%= display_name["email"] %></label>
          <div class="col-md-6">
            <input type='text' class='form-control' name='email' data-toggle="tooltip" data-placement="right" title="你的常用电子邮箱"></input>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-2' for="password"><%= display_name["password"] %></label>
          <div class="col-md-6">
            <input type='password' class='form-control' name='password' id="password" data-toggle="tooltip" data-placement="right" title="请选择一个安全的密码，最好是字母、数字和符号的组合"></input>
          </div>
        </div>
        <div class='form-group'>
          <label class='control-label col-md-2' for="confirmation"><%= display_name["confirmation"] %></label>
          <div class="col-md-6">
            <input type='password' class='form-control' name='confirmation'></input>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-6 col-md-offset-2">
            <div class="checkbox">
              <label for="">
                <input type="checkbox" name="agreement_acknowledged" /> <%= display_name["agreement_acknowledged"] %>
              </label>
            </div>
          </div>
        </div>
        <br/>
      </div>
			<div class="panel-footer">
        <div class='row'>
          <div class="col-md-2 col-md-offset-2">
            <button type='submit' id="submit" class='btn btn-primary btn-block'>创建</button>
          </div>
        </div>
      </div>
    </div>
    <input class='hidden' name='_csrf' value='<%= _csrf %>' />
  </form>
</div>
