<div class='container'>
	<% if (flash && flash.err) { %>
  <br/>
  <div class="alert alert-danger">					
    <% Object.keys(flash.err).forEach(function(error) { %>
    <%= error %>: <%= flash.err[error].name %> - <%= JSON.stringify(flash.err[error].message) %>
    <% }) %>
  </div>
  <% } %>
  <h3 style="margin-top:25px;"><span class="glyphicon glyphicon-home"></span> &nbsp;我的主页</h3>
  <hr/>
  <div class="row">
    <div class="col-md-2">
      <%- partial('partials/sidebar.ejs') %>
    </div>
    <div class="col-md-10">
      <%- partial('partials/maincontent.ejs') %>
    </div>
  </div>
</div>
