<div class='container'>
  <form role='form' action="/mortgage/create" method="POST" class="haha-form-signup">
		<div class="panel panel-default haha-signup-panel haha-panel-md">
			<div class="panel-heading">
        <h4>新建抵押物</h4>
			</div>
			<div class="panel-body">
				<% if (flash && flash.err) { %>
				<div class="alert alert-danger">					
					<% Object.keys(flash.err).forEach(function(error) { %>
						<%= error %>: <%= JSON.stringify(flash.err[error]) %>
					<% }) %>
				</div>
				<% } %>
        <% 
          for (var attr in Mortgage.attributes) {
        %>
				<div class='form-group'>
          <label class='control-label' for="<%= attr %>"><%= display_name[attr] %></label>
        <% if (attr == "type") { %>
          <select name="<%= attr %>" class="form-control">
            <%
            MortgageType.find({}).done(function(err, types) {
              if (err) { console.log(err); }
              else {
                //console.log(types);
                for (var i = 0; i < types.length; ++i) {
                  t = types[i];
            %>
                  <option value="<%= t.id %>"><%= t.name %></option>
            <% 
                } 
              }
            });
            %>
          </select>
        <% } else { %>
          <input type='text' class='form-control' name='<%= attr %>'/>
        <% } %>
				</div>
        <% } %>
			</div>
			<div class="panel-footer">
				<button type='submit' class='btn btn-primary btn-block'>创建</button>
			</div>
		</div>
		<input class='hidden' name='_csrf' value='<%= _csrf %>' />
	</form>
</div>

